extends ../layout/index
block contenido 
    main.container.mt-5.mb-5
        .row 
            .col-md-5 
                img(src=`/assets/img/destinos_${viaje.imagen}_ln.jpg`, alt="Imagen del Viaje" class="img-fluid shadow" width="425px")
            .col-md-7 
                h2 #{viaje.titulo}
                p
                    i.fas.fa-calendar-alt.align-middle
                    |    Fecha ida:  #{viaje.fecha_ida} &mdash; Fecha vuelta: #{viaje.fecha_vuelta}
                p 
                    i.fas.fa-euro-sign.align-middle
                    |     Precio:  #{viaje.precio}
                p 
                    i.fas.fa-users.align-middle
                    |   Disponibles:  #{viaje.disponibles}
                p= viaje.descripcion
                a(href=`reservas/${viaje.id}`, class="btn btn-success w-25") Reservar